@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\000034}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\000038}}
.btn-primary {
  color: #fff;
  background-color: #691dcd;
  border-color: #691dcd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000314}}
img {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000319}}
.landing img {
  max-width: 90%;
  margin: 0px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000325}}
.nav-link {
  color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000327}}
  .nav-link:hover {
    color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000332}}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: none !important;
  border-bottom: 4px solid #691dcd !important;
  border-bottom-style: outset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000341}}
#tabs .nav-tabs .nav-link {
  border: none !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #000;
  font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000352}}
.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000358}}
  .nav-tabs .nav-link:hover {
    border: none !important;
    border-bottom: 4px solid #691dcd !important;
    border-bottom-style: outset;
    font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000366}}
.nav-tabs {
  border-bottom: 2px solid #6965c7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000370}}
.divider {
  width: 10%;
  border: 3px solid #691dcd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000375}}
footer {
  background-color: #0B0A1B;
  color: whitesmoke; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000378}}
  footer i {
    color: #27FFAE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000383}}
.row.no-margin {
  margin: 0 !important; }

/*# sourceMappingURL=style.css.map */
