@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\000033}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-style: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\000038}}
body {
  font-family: 'Poppins', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000312}}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000317}}
.btn-primary {
  color: #fff;
  background-color: #691dcd;
  border-color: #691dcd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000322}}
  .btn-primary:hover {
    color: #fff;
    background-color: #691dcd;
    border-color: #691dcd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000331}}
img {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000335}}
.main-header {
  margin-top: -10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000340}}
.landing img {
  max-width: 90%;
  margin: 0px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000346}}
.nav-link {
  color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000348}}
  .nav-link:hover {
    color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000353}}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: none !important;
  border-bottom: 4px solid #691dcd !important;
  border-bottom-style: outset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000362}}
#tabs .nav-tabs .nav-link {
  border: none !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #000;
  font-size: 20px;
  transition: linear 1s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000374}}
.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #000;
  transition: linear 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000382}}
  .nav-tabs .nav-link:hover {
    border: none !important;
    border-bottom: 4px solid #691dcd !important;
    border-bottom-style: outset;
    font-weight: bold;
    transition: linear 0.2s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000392}}
.nav-tabs {
  border-bottom: 2px solid #6965c7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\0000396}}
.swatch {
  transition: linear 0.2s;
  height: 50px;
  width: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\00003102}}
.divider {
  width: 10%;
  border: 3px solid #691dcd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\00003107}}
footer {
  background-color: #0B0A1B;
  color: whitesmoke; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\00003110}}
  footer i {
    color: #27FFAE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eyobassey\/Documents\/projects\/binderdeck\/styles\/src\/style\.scss}line{font-family:\00003115}}
.row.no-margin {
  margin: 0 !important; }

/*# sourceMappingURL=style.css.map */
